<nav class="navbar navbar-expand navbar-dark bg-dark-green fixed-top">
  <a class="navbar-brand" href="#">{{brandTitile}}</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/app-uploaded-files"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li class="nav-item">
        <a class="btn btn-dark" routerLink="/app-upload"><i class="fa fa-folder-open" aria-hidden="true"></i> Upload</a>
      </li>
    </ul>
  </div>
</nav>