<h3 class="dark-green-text"><i class="fa fa-th-list" aria-hidden="true"></i> Files</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col" class="dark-green-text">#</th>
      <th scope="col" class="dark-green-text">Ethereum Address</th>
      <th scope="col" class="dark-green-text">NIRC</th>
      <th scope="col" class="dark-green-text">Uploaded Date</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let uploadedFile of uploadedFiles let i = index" [attr.data-index]="i" (click)="onSelect(uploadedFile)">
      <th scope="row">{{i + 1}}</th>
      <td>{{uploadedFile.transactionHash}}</td>
      <td>{{uploadedFile.citizen}}</td>
      <td>{{uploadedFile.uploadedDate | date:'yyyy-MM-dd HH:mm a'}}</td>
    </tr>
  </tbody>
</table>
