<div class="btn-group btn-group-sm" role="group">
  <button type="button" class="btn btn-secondary" (click)="goBack()">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
  </button>
  <button type="button" class="btn btn-success" (click)="shareFile()">
    <i class="fa fa-share-alt" aria-hidden="true"></i> Share
  </button>
</div>
<div class="alert alert-success alert-dismissible fade show margin-separator" role="alert" *ngIf="fileShared">
  File sharing done.
</div>
<div class="alert alert-danger alert-dismissible fade show margin-separator" role="alert" *ngIf="fileShareFailed">
  File sharing failed.
</div>
<h3 class="dark-green-text margin-separator"><i class="fa fa-file-text" aria-hidden="true"></i> {{fileDetails.certificate.gceLevel}} Levels Certificate</h3>
<table class="table table-striped margin-separator" *ngIf="fileDetails">
  <tbody>
    <tr>
      <th scope="row" class="dark-green-text">Ethereum Address: </th>
      <td>{{fileDetails.trxHash}}</td>
    </tr>
    <tr>
      <th scope="row" class="dark-green-text">NIRC: </th>
      <td>{{fileDetails.certificate.nirc}}</td>
    </tr>
    <tr>
      <th scope="row" class="dark-green-text">File: </th>
      <td>
        <a href="{{fileDetails.fileUrl}}" target="_open">{{fileDetails.fileUrl}}</a>
      </td>
    </tr>
    <tr>
        <th scope="row" class="dark-green-text"><i class="fa fa-book" aria-hidden="true"></i> Subjects</th>
        <th scope="row" class="dark-green-text"><i class="fa fa-graduation-cap" aria-hidden="true"></i> Grades</th>
    </tr>
    <tr>
        <td>English: </td>
        <td>
          {{fileDetails.certificate.englishGrade}}
        </td>
    </tr>
    <tr>
        <td>Mathematics: </td>
        <td>
          {{fileDetails.certificate.mathGrade}}
        </td>
    </tr>
    <tr>
        <td scope="row" class="dark-green-text">MotherTongue: </td>
        <td>
          {{fileDetails.certificate.motherTongueGrade}}
        </td>
    </tr>
    <tr *ngIf="fileDetails.certificate.scienceGrade">
        <td>Science: </td>
        <td>
          {{fileDetails.certificate.scienceGrade}}
        </td>
    </tr>
    <tr *ngIf="fileDetails.certificate.chemistryGrade">
        <td>Chemistry: </td>
        <td>
          {{fileDetails.certificate.chemistryGrade}}
        </td>
    </tr>
    <tr *ngIf="fileDetails.certificate.bioGrade">
        <td>Bio: </td>
        <td>
          {{fileDetails.certificate.bioGrade}}
        </td>
    </tr>
    <tr *ngIf="fileDetails.certificate.geographyGrade">
        <td>Geography: </td>
        <td>
          {{fileDetails.certificate.geographyGrade}}
        </td>
    </tr>
    <tr *ngIf="fileDetails.certificate.historyGrade">
        <td>History: </td>
        <td>
          {{fileDetails.certificate.historyGrade}}
        </td>
    </tr>
  </tbody>
</table>