<div class="jumbotron">
  <div class="form-group">
    <label for="owner" class="dark-green-text"><b>NIRC: </b></label>
    <input type="input" class="form-control card-margin-bottom" id="owner" [(ngModel)]="citizen" required>
    <label for="upload-file" class="dark-green-text"><b>Select a file to upload: </b></label>
    <input type="file" class="form-control-file" id="upload-file" placeholder="File" (change)="onFileSelected($event)">
  </div>
  <button type="button" (click)="onUpload()" class="btn btn-success btn-sm"><i class="fa fa-cloud-upload" aria-hidden="true"></i> Upload</button>
</div>

<div class="alert alert-warning alert-dismissible fade show margin-separator" role="alert" *ngIf="uploadedPercentage != 0">
  Uploading the file .....
</div>

<div class="alert alert-success alert-dismissible fade show margin-separator" role="alert" *ngIf="showMessage">
  {{message}}
</div>
<!--
<div class="table-responsive trxdata-list">
  <div class="card card-margin-bottom" *ngFor="let trxData of trxDataList let i = index" [attr.data-index]="i">
    <div class="card-body">
      <h5 class="card-title">No. {{i + 1}} - uploaded on {{trxData.uploadedDate | date:'yyyy-MM-dd HH:mm a'}}</h5>
      <div><b>IPFS Hash: </b>{{trxData.ipfsHash}}</div>
      <div><b>Sender: </b>{{trxData.from}}</div>
      <div><b>Transaction Hash: </b>{{trxData.transactionHash}}</div>
      <div><b>Uploaded Status: </b>{{trxData.uploadedStatus}}</div>
    </div>
  </div>
</div>
-->